@import "../../styles/custom/variables.scss";

.footer {
  padding: 28px 0;
  font-size: 1.125rem;

  a {
    letter-spacing: 1px;
    &:hover {
      color: var(--gray-300);
    }
  }
}

.footer-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: $breakpoint__md) {
  .footer {
    padding: 25px;
  }
}

@media (max-width: $breakpoint__sm) {
  .footer {
    padding: 30px 15px;

    .footer-container {
      flex-flow: column wrap;
      > div:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }
  }
}