@import '../../styles/custom/variables.scss';

.header {
  padding: 48px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  width: 100%;

  &.is-scrolled {
    background-color: var(--header-intersection-active-bg);
  }
  
  > .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 1120px;
    margin: 0 auto;
  }
}

@media (max-width: $breakpoint__xl) {
  .header .container {
    width: 940px;
  }
}

@media (max-width: $breakpoint__lg) {
  .header .container {
    width: 740px;
  }
}

@media (max-width: $breakpoint__md) {
  .header {
    .container {
      width: 560px;

      > a, svg {
        z-index: 999;
      }
    }
  }
}

@media (max-width: $breakpoint__sm) {
  .header {
    padding: 25px 15px;
    .container {
      width: 100%;
    }
  }
}