.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 10;
  position: relative;
}

.flex-container > main {
  padding: 120px 0;
  flex: 1;
}

.container {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $breakpoint__xl) {
  .container {
    width: 940px;
  }
}

@media (max-width: $breakpoint__lg) {
  .container {
    width: 740px;
  }
}

@media (max-width: $breakpoint__md) {
  .container {
    width: 560px;
  }
}

@media (max-width: $breakpoint__sm) {
  .flex-container > main.container {
    padding: 80px 15px;
  }

  .container {
    width: 100%;
  }
}