.icon {
  cursor: pointer;
  &:hover {
    stroke: var(--gray-300);
  }
}

.back-icon {
  margin-right: 15px;
}

.contact-link {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--gradient-pink-to-purple);
  }
}

.contact-emoji {
  position: absolute;
  font-size: 32px;
  right: 16px;
  bottom: 16px;
}