h1 {
  font: 700 normal 4.5rem "Karla", sans-serif;
  letter-spacing: -1.25px;
  margin-bottom: 25px;

  &.bg-image__pink-to-purple { background-image: var(--gradient-pink-to-purple); }
}

h3 {
  line-height: 1.5;
  font: 500 normal 2rem "Karla", sans-serif;
  margin-bottom: 25px;

  &.hero-heading {
    max-width: 75%;
  }

  &.section-heading {
    font-size: 36px;
    margin-top: 50px;
    letter-spacing: 3px;
    &:after {
      position: absolute;
      left: calc(100% + 25px);
      top: 50%;
      content: '';
      width: calc(780px - 100%);
      height: 2px;
      background: var(--gradient-pink-to-purple);
    }
  }
}

p {
  font: 400 normal 1.125rem/1.85 "Karla", sans-serif;
}

@media (max-width: $breakpoint__md) {
  h3.section-heading {
    &:after {
      width: calc(560px - 100%);
    }
  }
}

@media (max-width: $breakpoint__sm) {
  h3.hero-heading {
    max-width: 100%;
    font-size: 1.75rem;
    line-height: 1.75;
  }

  h3.section-heading {
    &:after {
      display: none;
    }
  }
}