/* Fonts */
.font-light         { font-weight: 300; }
.font-normal        { font-weight: 400; }
.font-medium        { font-weight: 500; }
.font-bold          { font-weight: 700; }

.text-left          { text-align: left; }
.text-center        { text-align: center; }
.text-right         { text-align: right; }

.lowercase          { text-transform: lowercase; }

.clipped-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: $breakpoint__sm) {
  .text-left__sm    { text-align: left;         }
  .text-center__sm  { text-align: center;       }
  .text-right__sm   { text-align: right;        }
}

/* Display */
.inline-block       { display: inline-block;    }
.block              { display: block;           }
.flex               { display: flex;            }

/* Flex */
.align-items-center { align-items: center;      }

/* Position */
.relative         { position: relative;         }
.absolute         { position: absolute;         }
.none             { position: relative;         }

@media (max-width: $breakpoint__sm) {
  .relative__sm   { display: relative;          }
  .absolute__sm   { display: absolute;          }
  .none__sm       { display: none;              }
}

/* colors */
.text-gray-200      { color: var(--gray-200);   }
.text-gray-300      { color: var(--gray-300);   }
.text-gray-500      { color: var(--gray-500);   }
.text-gray-700      { color: var(--gray-700);   }
.text-gray-800      { color: var(--gray-800);   }

.text-white         { color: #FFFFFF;         }

.text-primary-gradient {
  background-image: var(--primary-gradient);
}

.overflow-hidden    { overflow: hidden; }