:root {
  --gray-100: #DCDCDC;
  --gray-200: #5e5e63;
  --gray-300: #727272;
  --gray-500: #5A5A5A;
  --gray-700: #1B1D21;
  --gray-800: #181A1D;

  --decor-line-color: #e5e5e5;

  --h3-heading-color: #424242;
  --list-element-color: #000;
  --list-with-icons-color: #515154;

  --primary-gradient: linear-gradient(141deg, #969699, #1e1e22);
  --background-primary: #f6f6f6;

  --contact-block-bg: #e9e9e9;
  --header-intersection-active-bg: hsl(0deg 0% 87% / 75%);
  --competency-list-color: #000;

  --mobile-navigation-bg: var(--background-primary);

  --navigation-test-block-bg: #f3f3f3;
}

body.dark-theme {
  --gray-100: #DCDCDC;
  --gray-200: #929292;
  --gray-300: #727272;
  --gray-500: #5A5A5A;
  --gray-700: #1B1D21;
  --gray-800: #181A1D;

  --decor-line-color: #242424;

  --h3-heading-color: #fff;
  --list-element-color: #fff;
  --list-with-icons-color: #728dd5;

  --primary-gradient: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );
  --background-primary: linear-gradient(to right, var(--gray-700) 11%, var(--gray-800) 88%);

  --contact-block-bg: #16171a;
  --header-intersection-active-bg: rgba(23, 23, 26, 0.97);
  --competency-list-color: #fff;

  --mobile-navigation-bg: #16171a;

  --navigation-test-block-bg: #141518;
}