:root {
  --gradient-pink-to-purple: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );
  --background-primary: linear-gradient(to right, #1b1d21 11%, #181a1d 88%);
}

$breakpoint__xs:      '340px';
$breakpoint__sm:      '640px';
$breakpoint__md:      '768px';
$breakpoint__lg:      '1024px';
$breakpoint__xl:      '1280px';
$breakpoint__2xl:     '1536px';