@import "../../styles/custom/variables.scss";

.mobile-menu {
  width: 100%;

  .mobile-menu-icon {
    width: 20px;
    height: 8px;
    position: relative;
    z-index: 999;
    margin-right: 5px;
    .line {
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background: var(--primary-gradient);;
      &:nth-of-type(1) { top: 0; }
      &:nth-of-type(2) { top: 100%; }
    }
  }

  .navigation-section {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 25px 25px 50px 25px;
    z-index: 99;
    background: var(--mobile-navigation-bg);
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;

    &.closed { display: none; }
    
    > ul {
      display: flex;
      flex-flow: column wrap;
      position: relative;
      margin-top: 75px;
      z-index: 999;
      width: 100%;

      li {
        a {
          font-size: 26px;
          background-image: var(--primary-gradient);
          position: relative;
          background-clip: text;
          -webkit-text-fill-color: transparent;;
        }

        &:not(:last-of-type) {
          margin-bottom: 35px;
        }
      }
    }

    .social-section {
      width: 100%;
      margin-top: 50px;
      z-index: 999;
    }

    .social-block {
      background-color: var(--navigation-test-block-bg);
      border-radius: 16px;
      color: var(--gray-200);
      box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
      padding: 2rem;
      align-items: center;
      display: flex;
      justify-content: center;
      width: calc(50% - 30px);
      position: relative;
      
      a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    
      svg {
        stroke: var(--list-with-icons-color);
      }
    }

  }
}

@media (max-width: $breakpoint__md) {
  .mobile-menu {
    .navigation-section > ul {
      max-width: 560px;
      width: 100%;
      margin: 140px auto 0;  
    }

    .social-section {
      max-width: 560px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: $breakpoint__sm) {
  .mobile-menu .navigation-section {
    padding: 25px 25px 0 25px;
    > ul {
     margin: 70px auto 0;
    }
  }
}